# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
ENV/

# Media Uploads & Temp Files
uploads/*
!uploads/.gitkeep

# Node & Next.js
frontend/node_modules/
frontend/.next/
frontend/out/

# macOS
.DS_Store

# Celery
celerybeat-schedule
*.pid

# IDE
.vscode/
.idea/
